selenium
webdriver-manager
pytest
pytest-html

numpy
pandas
matplotlib
seaborn
plotly
scikit-learn
scipy
statsmodels
regex
tensorflow
openpyxl
pyarrow
sqlalchemy
jupyter
ipython
tqdm
regex
google-generativeai
python-dotenv
beautifulsoup4
pypdf2
